@import "tailwindcss";
@import "@heroui/styles/global.css";

@theme {
  --color-brand-50: #fdf4ff;
  --color-brand-100: #fae8ff;
  --color-brand-500: #a855f7;
  --color-brand-600: #9333ea;
  --color-brand-700: #7e22ce;

  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-100;
}